body {
	h1 {
		color: #030303;
		font-size: 1em;
		margin: 0;  
		text-align: center;  
	}
}


.output-area {
	background-color: #292929;
	width: 16em;

	h1 {
		color: #E0E0E0;
		text-align:right; 
	}

}

.buttons-area {
	background-color: #E0E0E0; 
	width: 10em; 

	div {
		width: 4em; 
		float:left;
		display:inline; 
		border: 1px solid #FFFFFF;
	}

}




